nav {
    background-color: white;
    margin: 15px;
    width: 96vw;
    border-radius: 1rem;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.377);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.logo {
    font-weight: 900;
    color: black;
}